// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.splash-div {
  background-color: #9ED68D;
}

.login-div {
  border-radius: 15px;
  background-color:white;
  opacity: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
}
